@keyframes moveFromLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.truck-animation {
  animation: moveFromLeftToRight 2s ease-in-out infinite;
}
