@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(234, 233, 220);
  background-image: url("./assets/Group\ 3.svg");
  background-repeat: repeat-y;
  background-position: center;
}
